.container-tittle {
  background-color: #00544f;
  text-align: center;
  padding: 50px;
  margin-bottom: 6rem;
}

.tittle_1 {
  margin: auto;
  width: 35%;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  borde: 1px solid #ffffff;
}

.content-section {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  font-family: "Arial", sans-serif;
  color: #104b47;
  line-height: 1.6;
}

.content-section h2 {
  color: #00544f;
  font-size: 22px;
  margin-bottom: 10px;
}

.form-section {
  background-color: #00544f;
  padding: 40px;
  margin: 20px auto;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espaciado entre los campos */
  margin-bottom: 20px;
}

.form-group input,
.form-group select {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #00796b;
  color: #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input::placeholder,
.form-group select option {
  color: #cce7e4; /* Placeholder más claro */
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  background-color: #00544f;
  box-shadow: 0 0 8px rgba(0, 255, 200, 0.8);
}

.form-button {
  background-color: #028a7e;
  width: 100%;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
  background-color: #004d40;
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.form-message {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.form-message.success {
  color: #28a745; /* Verde para éxito */
}

.form-message.error {
  color: #dc3545; /* Rojo para error */
}
